<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
         
        </ul>
        <form class="d-flex">
          <button class="btn btn-primary" type="button" (click)="logout()">Logout</button>
        </form>
      </div>
    </div>
  </nav>

  <h3 class="text-center my-3">User Details List</h3>


  <div class="px-5">

    <div class="d-flex justify-content-center" *ngIf="spinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <table class="table table-striped" *ngIf="userData.length > 0">
        <thead>
          <tr>
            <th class="text-center">User ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userData">
            <td class="text-center">{{data.id}}</td>
            <td class="text-center">{{data.name}}</td>
            <td class="text-center">{{data.username}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  